.rodape {
    background-color: var(--cor-de-fundo-rodape);
    font-family: var(--fonte-principal);
    padding: 96px 0;
    text-align: center;
}

.rodape__titulo {
    font-size: 36px;
    font-weight: 600;
    color: var(--cor-titulo);
}

.rodape__texto {
    font-size: 20px;
    font-weight: 400;
    color: var(--cor-primaria);
    margin: 1.5em 0 2em;
}

.rodape__email {
    background-color: var(--branco);
    border: 1px solid var(--cor-borda-rodape);
    border-radius: 8px;
    padding: 12px 14px 12px 16px;
    width: 360px;
    height: 2em;
    margin-right: 2em;
}

.rodape__botao {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: var(--branco);
    background-color: var(--cor-vinho);
    border: 1px solid var(--cor-vinho);
    border-radius: 8px;
    padding: 14px 20px;
}

.rodape__descricao {
    font-size: 16px;
    font-weight: 400;
    color: var(--cor-copyrigth);
    margin-top: 2.5em;
}