@import url("CSS/menu_navegacao.css");
@import url("CSS/header.css");

:root {
    --fonte-principal: 'Inter';
    --cor-primaria: #667085;
    --branco: #ffffff;
    --cor-vinho: #8E2424;
    --cor-titulo: #101828;
}

body {
    background-color: var(--branco);
}