@import url("CSS/menu_navegacao.css");
@import url("CSS/header.css");
@import url("CSS/metricas_resultados.css");
@import url("CSS/conteudo__busca-talentos.css");
@import url("CSS/secao_vagas.css");
@import url("CSS/secao_depoimentos.css");

:root {
    --fonte-principal: 'Inter';
    --cor-primaria: #667085;
    --branco: #ffffff;
    --cor-vinho: #8E2424;
    --cor-titulo: #101828;
    --cor-borda: #EAECF0;
    --cor-de-fundo-depoimento: rgba(196, 25, 25, 0.03);;
}

body {
    background-color: var(--branco);
}